$colors: (
  night-shadz: #AF3D4E,
  alabaster: #FAFAFA,
  star-dust: #9E9E9E,
  careys-pink: #D49BA4,
  oyster-pink: #E7CBCF,
  white-lilac: #E9E9E9,
  mine-shaft: #7a3840,
  font-gray: #6e6e6e
);

@function color($color-name) {
  @return map-get($colors, $color-name)
}


html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  @media (min-width: 576px) {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    font-size: 16px;
  }
  @media (min-width: 992px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) {
		font-size: 20px;
  }
  ::-webkit-scrollbar {
    width: 0;
  }
}

header {
  height: 100vh;
  width: 100vw;
  position: sticky;
  top: calc(3.5rem - 100vh);
  background: color(night-shadz);
  color: color(alabaster);
  //box-shadow: 0px 1px 10px #999;
  margin-bottom: 10px;
  z-index: 20;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  .topbar{
    z-index: 10;
    position: sticky;
    top: 0;
    width: 80%;
    margin-left: 10%;
    height: 3.5rem;
    overflow: hidden;
    .title {
      float: left;
      padding: 10px 0;
      font-family: 'Reem Kufi', sans-serif;
      font-weight: 600;
      opacity: 0;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    a {
      text-decoration: none;
      color: color(oyster-pink);
      &:hover {
        color: color(alabaster);
      }
    }
    nav {
      float: right;
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      li {
        display: inline-block;
        margin-left: 3.5rem;
      }
      
    }
  }
}



.landing {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
  text-align: center;
  margin-bottom:10px;
  z-index: 5;
  >.intro {
    font-family: 'Reem Kufi', sans-serif;
	  font-size: 3.75em;
	  font-weight: 600;
  }
  >.tagline {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 100;
  }
  .icons-social {
    padding: 10px;
    a {
      color: color(oyster-pink);
      &:hover {
        color: color(alabaster);
      }
      svg path {
        fill: color(oyster-pink);
        &:hover {
          color: color(alabaster);
        }
      }
    }
    i {
      font-size: 3em;
      padding: 10px;
    }
  }
}



main {
  color: color(night-shadz);
  position: relative;
  width: 100%;
  height: 100%;
  section {
    padding-top: 5%;
    justify-content: center;
    position: relative;
    .content {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .line {
        width: 1px;
        min-height: 100%;
        border-left: 1px solid color(night-shadz);
        left: 45.83%;
        position: absolute;
      }
      
      .col {
        //margin: 0;
        //position: absolute;
        //top: 50%;
        //-ms-transform: translateY(-50%);
        //transform: translateY(-50%);
        .outer {
          margin-bottom: 1rem;
        }
        .outeritem {
          font-size: 1.5rem;
        }
        .inneritem{
          font-size: 0.8rem;
          margin-left: 0.5rem;
        }
      }
    }
    h1 {
      font-size: 3rem;
      letter-spacing: -0.5px;
      margin-top: 1rem;
      text-align: center;
    }
    h2 {
      font-size: 2rem;
      letter-spacing: -0.5px;
      margin-top: 1rem;
    }
    h3 {
      font-size: 1.2rem;
      letter-spacing: -0.5px;
      margin-top: 1rem;
    }
    h4 {
      font-size: 1.2rem;
      letter-spacing: -0.5px;
      margin-top: 1rem;
      color: color(font-gray);
    }
    h6 {
      margin-top:3rem;
    }
    p {
      font-size: 1rem;
      letter-spacing: 0.5px;
      padding: 0.5rem 0;
      color: color(font-gray);
    }
    .p {
      color: color(font-gray);
    }
    a {
      font-size: 1rem;
    }
  }
}

footer {
  height: 100vh;
  z-index: 9;
  background: color(night-shadz);
  align-content: center;
}

.divider {
  border-bottom: thin;
  margin-top: 5%;
}

.particle {
  height: 100vw;
  width: 100vw;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  canvas{
    height: 100vw;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: -1;
  }
}

.gray {
  color: color(font-gray);
}

.comic {
  opacity: 0;
}