html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

html ::-webkit-scrollbar {
  width: 0;
}

header {
  height: 100vh;
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: calc(3.5rem - 100vh);
  background: #AF3D4E;
  color: #FAFAFA;
  margin-bottom: 10px;
  z-index: 20;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

header .topbar {
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 80%;
  margin-left: 10%;
  height: 3.5rem;
  overflow: hidden;
}

header .topbar .title {
  float: left;
  padding: 10px 0;
  font-family: 'Reem Kufi', sans-serif;
  font-weight: 600;
  opacity: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .topbar a {
  text-decoration: none;
  color: #E7CBCF;
}

header .topbar a:hover {
  color: #FAFAFA;
}

header .topbar nav {
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .topbar nav li {
  display: inline-block;
  margin-left: 3.5rem;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  text-align: center;
  margin-bottom: 10px;
  z-index: 5;
}

.landing > .intro {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 3.75em;
  font-weight: 600;
}

.landing > .tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100;
}

.landing .icons-social {
  padding: 10px;
}

.landing .icons-social a {
  color: #E7CBCF;
}

.landing .icons-social a:hover {
  color: #FAFAFA;
}

.landing .icons-social a svg path {
  fill: #E7CBCF;
}

.landing .icons-social a svg path:hover {
  color: #FAFAFA;
}

.landing .icons-social i {
  font-size: 3em;
  padding: 10px;
}

main {
  color: #AF3D4E;
  position: relative;
  width: 100%;
  height: 100%;
}

main section {
  padding-top: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main section .content {
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main section .content .line {
  width: 1px;
  min-height: 100%;
  border-left: 1px solid #AF3D4E;
  left: 45.83%;
  position: absolute;
}

main section .content .col .outer {
  margin-bottom: 1rem;
}

main section .content .col .outeritem {
  font-size: 1.5rem;
}

main section .content .col .inneritem {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

main section h1 {
  font-size: 3rem;
  letter-spacing: -0.5px;
  margin-top: 1rem;
  text-align: center;
}

main section h2 {
  font-size: 2rem;
  letter-spacing: -0.5px;
  margin-top: 1rem;
}

main section h3 {
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  margin-top: 1rem;
}

main section h4 {
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  margin-top: 1rem;
  color: #6e6e6e;
}

main section h6 {
  margin-top: 3rem;
}

main section p {
  font-size: 1rem;
  letter-spacing: 0.5px;
  padding: 0.5rem 0;
  color: #6e6e6e;
}

main section .p {
  color: #6e6e6e;
}

main section a {
  font-size: 1rem;
}

footer {
  height: 100vh;
  z-index: 9;
  background: #AF3D4E;
  -ms-flex-line-pack: center;
      align-content: center;
}

.divider {
  border-bottom: thin;
  margin-top: 5%;
}

.particle {
  height: 100vw;
  width: 100vw;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.particle canvas {
  height: 100vw;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: -1;
}

.gray {
  color: #6e6e6e;
}

.comic {
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */